<mat-grid-list cols="1" *ngIf="!siembra; else divSiembra">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divSiembra>
    
<form autocomplete="off">
    <div class="row">
        <div col="100">
          <div class="row">
            <div class="col-md-6">
              <mat-label>Área de siembra</mat-label>
              <input type="text" class="form-control"
              [value]="siembra.areaSiembraNombre" readonly disabled>
            </div>
            
            <div class="col-md-6">              
              <mat-label>Área de muestra</mat-label>
              <input type="text" class="form-control"
              [value]="siembra.areaMuestraNombre" readonly disabled>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-6">
                <mat-label>Variedad</mat-label>
                <input type="text" class="form-control" 
                [value]="siembra.variedadNombre" readonly disabled>
            </div>
    
            <div class="col-md-6">              
              <mat-label>Estado</mat-label>
              <input type="text" class="form-control" 
              [value]="siembra.estadoNombre" readonly disabled>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <mat-label>Cantidad</mat-label>                
                <input type="text" class="form-control"
                [value]="siembra.cantidad" readonly disabled>
            </div>
          
            <div class="col-md-6">
                <mat-label>Actividad</mat-label>
                <input type="text" class="form-control"
                 [value]="siembra.actividad_Nombre" readonly disabled>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-12">
                <mat-label>Observaciones</mat-label>
                <textarea class="form-control" [value]="siembra.observaciones" readonly disabled>
                </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="d-grid gap-2">
                    <button mat-stroked-button 
                    color="primary"
                    (click)="regresar()">Regresar
                    </button>
                </div>
            </div>
          </div>
        </div>
      </div>
      </form>
</ng-template>