<div>
  <h1>NGX DataTable</h1>
</div>
<div class="border-top" style="margin-bottom: 1rem !important;">
</div>
<div class="col-md-12 mb-3" style="margin-top: 10px;">
  <!-- <ngx-datatable class="material container striped"
  [rows]="rows" 
  [columnMode]="'flex'"
  [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto">
      <ngx-datatable-column name="#" [flexGrow]="0.5">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
              
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Age" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
              
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Town" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
              
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Country" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
          </ng-template>
      </ngx-datatable-column>
  </ngx-datatable> -->
</div>