<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>reorder</mat-icon>      
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="../home/inicio"
                mat-list-item
                (click)="sidenav.toggle()"> 
                <mat-icon mat-list-icon >label</mat-icon>
                <span>Inicio</span>
            </a>
            <mat-accordion *ngIf="UsuariosEnabled">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Usuarios
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="../usuarios/listado"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon mat-list-icon >label</mat-icon>
                        <span>Listado de Usuarios</span>
                    </a>
                    <a routerLink="../usuarios/agregar"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon  mat-list-icon>add</mat-icon>
                        <span>Añadir Usuario</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="ActividadesEnabled">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Actividades
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="../actividades/listado"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon mat-list-icon >label</mat-icon>
                        <span>Listado de Actividades</span>
                    </a>                    
                    <a routerLink="../actividades/agregar"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon  mat-list-icon>add</mat-icon>
                        <span>Añadir Actividades</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="RegistroSiembraEnabled">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Registro Siembra
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="../registro-siembra/listado"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon mat-list-icon >label</mat-icon>
                        <span>Listado de Registro Siembra</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="RegistroSeguimientoFenologicoEnabled">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Registro Seguimiento Fenológico
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="../Seguimiento-fenologico/listado"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon mat-list-icon >label</mat-icon>
                        <span>Listado de Registro Seguimiento Fenológico</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="ClasificacionEnabled">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Clasificación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="../clasificacion/listado"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon mat-list-icon >label</mat-icon>
                        <span>Listado de Clasificación de Siembra</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="ClasificacionEnabled">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Gráficas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="../graficas/reporte-area-muestra-calidad"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon mat-list-icon >label</mat-icon>
                        <span>Reporte área de muestra calidad</span>
                    </a>
                    <a routerLink="../graficas/reporte-calidades-por-variedad"
                        mat-list-item
                        (click)="sidenav.toggle()"> 
                        <mat-icon mat-list-icon >label</mat-icon>
                        <span>Reporte calidades por variedad</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>    
    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>reorder</mat-icon>      
        </button>        
        <span class="spacer"></span>
        <span> {{ auth.usuarioCompleto }} </span>
        <button mat-button 
                (click)="logout()">
             logout  
        </button>
    </mat-toolbar>
    <div class="container">
        <router-outlet>
        </router-outlet>
    </div>    
</mat-sidenav-container>
<app-inicio></app-inicio>
