<h1>
    {{
        (usuario.id) ? 'Editar': 'Nuevo'
    }}
    Usuario
    <small>{{ usuario.nombre }}</small>
</h1>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
<div class="row">
    <div col="100">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Nombre</label>
                  <input  type="text"
                          formControlName="nombre"
                          placeholder="Nombre del usuario"
                          class="form-control is-invalid">
                    
                  <div class="invalid-feedback" *ngIf="campoNoEsValido('nombre')">
                    Debe ser mínimo de 3 caracteres
                  </div>
            </div>
            
            <div class="col-md-6">
              <label class="form-label">Apellido</label>
                <input  type="text"
                        formControlName="apellido"
                        placeholder="Apellido del usuaro"
                        class="form-control is-invalid">
                        
                <div class="invalid-feedback" *ngIf="campoNoEsValido('apellido')">
                    Debe ser mínimo de 3 caracteres
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Correo</label>
                <input  type="text" 
                        formControlName="correo"
                        placeholder="Correo electrónico"
                        class="form-control is-invalid">
                
                <div class="invalid-feedback" *ngIf="campoNoEsValido('correo')">
                    {{ emailErrorMsg }}
                </div>
            </div>
            
              <div class="col-md-6">
                <label class="form-label">Rol</label>
                    <select class="form-select" formControlName="rol_Id"
                                required>
                        <option *ngFor="let rol of roles"
                                    [value]="rol.id">
                                    {{ rol.nombre }}
                        </option>
                    </select>
              </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
              <label class="form-label">Tipo Documento</label>
                <select class="form-select" formControlName="tipDoc_Id"
                            required>
                    <option *ngFor="let tipo of tipodocumentos"
                                [value]="tipo.id">
                                {{ tipo.nombre }}
                    </option>
                </select>
            </div> 
            <div class="col-md-6">
              <label class="form-label">Número de Identificación</label>
                <input  type="text" 
                        required
                        formControlName="numeroIdentificacion"
                        class="form-control is-invalid">
                
                <div class="invalid-feedback" *ngIf="campoNoEsValido('numeroIdentificacion')">
                    Debe ser de 3 caracteres
                </div>
            </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <label class="form-label">Empresa</label>
              <select class="form-select" formControlName="empresa_Id"
                          required>
                  <option *ngFor="let empresa of empresas"
                              [value]="empresa.id">
                              {{ empresa.nombre }}
                  </option>
              </select>
          </div>
        </div>
                
        <div class="row">
          <div class="col-md-6">        
            <label class="form-label">Contraseña</label>
            <input  type="password" 
                    required=""
                    placeholder="Password de la cuenta"
                    formControlName="contrasenia"
                    class="form-control is-invalid">
                    
            <div class="invalid-feedback" *ngIf="campoNoEsValido('contrasenia')">
                    La contraseña debe de ser mayor de 6 caracteres.
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label">Confirmar</label>
            <input  type="password" 
                    required=""
                    placeholder="Confirmar la contraseña"
                    formControlName="contrasenia2"
                    class="form-control is-invalid">
                    
            <div class="invalid-feedback" *ngIf="campoNoEsValido('contrasenia2')">
                    Las contraseñas deben de ser iguales
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">  
            <br />        
          </div>        
        </div>

        <div class="row">
          <div class="col-12">  
            <div class="d-grid gap-2">  
              <button (click)="guardar()"
                      class="btn btn-primary">
                  <mat-icon>edit</mat-icon>
                  {{ (usuario.id) ? 'Actualizar': 'Crear' }}
              </button>
            </div>        
          </div>        
        </div>
        
        <div class="row">              
          <div class="col-md-6">
              <div class="d-grid gap-2">  
                <button *ngIf="usuario.id" 
                        type="submit"
                        class="btn btn-danger">
                  <mat-icon>remove</mat-icon>
                    Borrar
                </button>
            </div>
          </div>
            <div class="col-md-6">  
              <div *ngIf="usuario.id" class="d-grid gap-2">  
                <button class="btn btn-outline-primary" 
                    (click)="regresar()">Regresar
                </button>
              </div>
          </div>
        </div>
    </div>
</div>
</form>