<h1>
    {{
        (usuario.id) ? 'Editar': 'Nuevo'
    }}
    Usuario
    <small>{{ usuario.nombre }}</small>
</h1>

<form autocomplete="off" 
[formGroup]="miFormulario"
(ngSubmit)="guardar()">
<div fxLayout="row" 
     fxLayoutGap="40px">
    <div fxFlex="100" 
         fxLayout="column">                
        <div    fxLayout="row" 
                fxLayout.xs="column"
                fxLayoutGap="20px">
            <mat-form-field fxFlex="100" 
                            fxLayout.xs="column">
                <mat-label>Usuario</mat-label>
                <input  matInput 
                        type="text" 
                        required=""
                        formControlName="nombre"
                        placeholder="Nombre del usuario">

                <mat-error *ngIf="campoNoEsValido('nombre')">
                Debe ser de 3 letras
                </mat-error>
            </mat-form-field>
        
            <mat-form-field fxFlex="100">
                <mat-label>Apellido</mat-label>
                <input  matInput 
                        type="text" 
                        required=""
                        formControlName="apellido">
                        
                <mat-error *ngIf="campoNoEsValido('apellido')">
                Debe ser de 3 letras
                </mat-error>
            </mat-form-field>
        </div>
    
        <mat-form-field fxFlex="100">
            <mat-label>Correo</mat-label>
            <input  matInput 
                    type="text" 
                    required=""            
                    formControlName="correo">
            
                    <mat-error *ngIf="campoNoEsValido('correo')">
                        {{ emailErrorMsg }}
                    </mat-error>
        </mat-form-field>
        
        <mat-form-field fxFlex="100">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol_Id"
                        required>
                <mat-option *ngFor="let rol of roles"
                            [value]="rol.id">
                            {{ rol.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field fxFlex="100">
            <mat-label>Tipo Documento</mat-label>
            <mat-select formControlName="tipDoc_Id"
                        required>
                <mat-option *ngFor="let tipo of tipodocumentos"
                            [value]="tipo.id">
                            {{ tipo.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field> 
        <mat-form-field fxFlex="100">
            <mat-label>Número de Identificación</mat-label>
            <input  matInput 
                    type="text" 
                    required=""
                    formControlName="numeroIdentificacion">
            
            <mat-error *ngIf="campoNoEsValido('numeroIdentificacion')">
                Debe ser de 3 letras
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Contraseña</mat-label>
            <input  matInput 
                    type="password" 
                    required=""
                    placeholder="Password de la cuenta"
                    formControlName="contrasenia">
                    
            <mat-error *ngIf="campoNoEsValido('contrasenia')">
                    La contraseña debe de ser mayor de 6 caracteres.
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Confirmar</mat-label>
            <input  matInput 
                    type="password" 
                    required=""
                    placeholder="Confirmar la contraseña"
                    formControlName="contrasenia2">
                    
            <mat-error *ngIf="campoNoEsValido('contrasenia2')">
                    Las contraseñas deben de ser iguales
            </mat-error>
        </mat-form-field>
        <div fxLayout>
            <button mat-raised-button 
                    color="primary"
                    (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{ (usuario.id) ? 'Actualizar': 'Crear' }}
            </button>
            
            <span class="spacer"></span>
            <button *ngIf="usuario.id"
                mat-stroked-button 
                color="warn"
                type="submit">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>
    </div>
</div>
</form>