<h1>
    {{
        (usuario.id) ? 'Editar': 'Nuevo'
    }}
    Usuario
    <small>{{ usuario.nombre }}</small>
</h1>

<div fxLayout="row" 
     fxLayoutGap="40px">
    <div fxFlex="100" 
         fxLayout="column">                
        <div    fxLayout="row" 
                fxLayout.xs="column"
                fxLayoutGap="20px">
            <mat-form-field fxFlex="100" 
                            fxLayout.xs="column">
                <mat-label>Usuario</mat-label>
                <input  matInput 
                        type="text" 
                        required=""
                        [(ngModel)]="usuario.nombre">
            </mat-form-field>
        
            <mat-form-field fxFlex="100">
                <mat-label>Apellido</mat-label>
                <input  matInput 
                        type="text" 
                        required=""
                        [(ngModel)]="usuario.apellido">
            </mat-form-field>
        </div>
    
        <mat-form-field fxFlex="100">
            <mat-label>Correo</mat-label>
            <input  matInput 
                    type="text" 
                    required=""            
                    [(ngModel)]="usuario.correo">
        </mat-form-field>
        
        <mat-form-field fxFlex="100">
            <mat-label>Rol</mat-label>
            <mat-select [(ngModel)]="usuario.rol_Id"
                        required>
                <mat-option *ngFor="let rol of roles"
                            [value]="rol.id">
                            {{ rol.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field fxFlex="100">
            <mat-label>Tipo Documento</mat-label>
            <mat-select [(ngModel)]="usuario.tipDoc_Id"
                        required>
                <mat-option *ngFor="let tipo of tipodocumentos"
                            [value]="tipo.id">
                            {{ tipo.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field> 
        <mat-form-field fxFlex="100">
            <mat-label>Número de Identificación</mat-label>
            <input  matInput 
                    type="text" 
                    required=""
                    [(ngModel)]="usuario.numeroIdentificacion">
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Contraseña</mat-label>
            <input  matInput 
                    type="password" 
                    required=""
                    [(ngModel)]="usuario.contrasenia">
        </mat-form-field>
        <div fxLayout>
            <button mat-raised-button 
                    color="primary"
                    (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{ (usuario.id) ? 'Actualizar': 'Crear' }}
            </button>
            
            <span class="spacer"></span>
            <button *ngIf="usuario.id"
                mat-stroked-button 
                color="warn"
                (click)="borrarUsuario()">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>
    </div>
</div>