<mat-grid-list cols="1" *ngIf="!usuario; else divUsuario">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divUsuario>
    <div fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="30px">
        <!-- {{ usuario | json }} -->
        <div fxFlex="100" 
        fxLayout.xs="column">
            <h1>{{ usuario.nombreCompleto }} </h1>            
            <mat-label>Correo Electrónico</mat-label>
            <h2> {{ usuario.correo }} </h2>
            <br>
                                
            <mat-label>Rol</mat-label>
            <h2>{{ usuario.rol }}</h2>
            
            <mat-label>Tipo Documento</mat-label>
            <h2>{{ usuario.tipoDocumento }}</h2>
                     
            <mat-label>Número de Documento</mat-label>
            <h1>{{ usuario.numeroIdentificacion }}</h1>
            <br>            
            <button mat-stroked-button 
                color="primary"
                (click)="regresar()">Regresar
            </button>
        </div>
    </div>    
</ng-template>