<mat-grid-list cols="1" *ngIf="!usuario; else divUsuario">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divUsuario>
    <div fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="30px">
        <!-- {{ usuario | json }} -->
        <div fxFlex="100" 
        fxLayout.xs="column">
            <h1>{{ usuario.nombreCompleto }} </h1>
            <h2> Correo Electrónico </h2>
            <small> {{ usuario.correo }} </small>
            
            <br>
            
            <h1>Rol</h1>
            <small>{{ usuario.rol }}</small>
            <h1>Tipo Documento</h1>
            <small>{{ usuario.tipoDocumento }}</small>
                        
            <h1>Número de Documento</h1>
            <small>{{ usuario.numeroIdentificacion }}</small>
            <br>            
            <button mat-stroked-button 
                color="primary"
                (click)="regresar()">Regresar
            </button>
        </div>
    </div>    
</ng-template>